@import 'tailwindcss';
@import './app/theme.css';

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--font-sans);
}

.font-tabular {
  font-family: var(--font-tabular);
  font-variant-numeric: tabular-nums;
}
